@import '~bootstrap/scss/bootstrap';

html {
  height: 100%;
}

body {
  width: 1000px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

h1 {
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #000;
  font-family: "Carter One";
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

h4 {
  font-family: "Paytone One";
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

h5 {
  font-family: "Paytone One";
}

.add, .change {
  max-width: 50%;
}

.add, .album-update {
  font-family: "Kalam";
}

.auth-buttons, .main-buttons {
  display: none;
}

section.auth-buttons, section.main-buttons {
  padding: 10px 0;
}

.background-hero {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("public/vinyl.records.jpg");
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.btn:focus {
  box-shadow: none;
}

.btn-primary {
  background-color: #591b0a;
  border: solid 2px #a85a45;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #591b0a;
  border-color: #a85a45;
}

.btn-primary:hover {
  background-color: #a85a45;
  border: solid 2px #591b0a;
}

.banner {
  height: 200px;
}

.card-header {
  font-family: "Kalam";
  font-size: 1.25rem;
}

.card:hover, .modal-header {
  background-color: #591b0a;
  color: #fff;
}

.card:hover .card-header {
  color: #fff;
}

.container {
  display: inline-flex;
  justify-content: space-around;
  padding: 10px 0;
}

.delete, .update {
  font-weight: bold;
}

.form-group h4 {
  padding: 10px 0;
}

.sub-card:hover {
  background-color: #a85a45;
}
