@import '~bootstrap/scss/bootstrap';

body {
  width: 800px;
  text-align: center;
  margin: 0 auto;
}

.form-group h4 {
  padding: 10px 0;
}

section.auth-buttons, section.main-buttons {
  padding: 10px 0;
}

.add, .change {
  max-width: 50%;
}

.auth-buttons, .main-buttons {
  display: none;
}
